* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  color: #38bdf8;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  background: #38bdf8;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}